/* Global syle file contains styling that stays the same across themes. */

main {
    margin: 2%;
}

h1 {
    text-align: center;
    font-size: 4rem;
    margin-top: 5rem;
    margin-bottom: 0%;
}

h2 {
    margin-bottom: 0rem;
}

h3 {
    margin-bottom: 0rem;
}

p {
    margin-top: 0.5rem;
}

section {
    margin-left: 1rem;
}

footer {
    margin-top: 4rem;
}

.colored-content-block {
    margin-top: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.centered-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ribbon {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 3.5rem;
    font-size: 2vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.centered-content {
    text-align: center;
}