body {
    background-color:lightblue;
    
}

main {
    font-family: cursive;
    color: darkslateblue;
}

footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:indigo;
}

hr {
    border-color:azure;
    color:azure;
    border-style: groove;
}

img {
    border-radius: 20rem;
}

.colored-content-block {
    background-color: aliceblue;
    border-radius: 5rem;
}

a:link {
    color:darkslategrey;
}

a:visited {
    color:cadetblue;
}

a:hover {
    color:royalblue;
}

a:active {
    color: darkblue;
}

.ribbon {
    background-color:blanchedalmond;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}