body {
    background-color:rgb(36, 0, 61);
    
}

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:gainsboro;
}

footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(253, 111, 111);
}

h1 {
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: crimson;
}

h3 {
    color: crimson;
}

h4 {
    color: crimson;
}

hr {
    border-color:gold;
    border-style: dashed;
    size: 40rem;
}

img {
    border-radius: 2rem;
    border: 5px groove;
    border-color: gold;   
}

.colored-content-block {
    background-color:rgb(41, 35, 35);
    border: 5px outset darkred;
    border-radius: 1rem;
}

a:link {
    color:ghostwhite;
}

a:visited {
    color:gray;
}

a:hover {
    color:crimson;
}

a:active {
    color:red;
}

.ribbon {
    background-color:rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 5px outset lightgray;
}